 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 368px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 238px 570px 25px 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 64px;
    margin-right: 428px;
    margin-left: 550px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-1 .u-text-1 {
    margin: 529px 360px 53px 80px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-1 .u-text-1 {
    margin: 478px 260px 25px 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 303px;
    margin-left: 30px;
    margin-right: 30px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1271px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 88px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 222px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-2 .u-video-2 {
  height: 192px;
  position: absolute;
  top: 217px;
  left: 0;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-2 .u-video-3 {
  height: 192px;
  position: absolute;
  top: 434px;
  left: 0;
}

.u-section-2 .embed-responsive-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-2 .u-video-4 {
  height: 192px;
  position: absolute;
  top: 651px;
  left: 0;
}

.u-section-2 .embed-responsive-4 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-2 .u-video-5 {
  height: 192px;
  position: absolute;
  top: 868px;
  left: 0;
}

.u-section-2 .embed-responsive-5 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-2 .u-video-6 {
  height: 192px;
  position: absolute;
  top: 1085px;
  left: 0;
}

.u-section-2 .embed-responsive-6 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-2 {
    height: auto;
  }

  .u-section-2 .u-video-3 {
    height: auto;
  }

  .u-section-2 .u-video-4 {
    height: auto;
  }

  .u-section-2 .u-video-5 {
    height: auto;
  }

  .u-section-2 .u-video-6 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2411px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1416px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 2090px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 629px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-video-2 {
  height: 599px;
  position: absolute;
  top: 620px;
  left: 0;
}

.u-section-3 .u-video-3 {
  height: 599px;
  position: absolute;
  top: 1240px;
  left: 0;
}

.u-section-3 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 1257px auto 60px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-video-2 {
    height: auto;
  }

  .u-section-3 .u-video-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 1266px;
    margin-bottom: 0;
  }

  .u-section-3 .u-btn-2 {
    --radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: 12px auto 53px;
  }
}
